{% extends 'base.html' %}

{% block title %}Simple python app example{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Data page</h1>

			<blockquote>Information on a things</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2 class="sub-heading">The name should go here</h2>
			<p>{{request_path}}</p>
			<p>{{path}}</p>
		</div>
		<div class="col-md-6">
			<h2 class="sub-heading">Results</h2>

			{{results}}

			{{relationships}}

			{% if relationships %}
			<ul>
			{% for rel in relationships %}
				<li><a href="{{rel.start_node.path}}">{{rel.start_node.name}}</a></li>
			{% endfor %}
			</ul>
			{% endif %}


		</div>
	</div>
</div>

{% endblock %}
