{% extends 'base.html' %}

{% block title %}{{data.name}}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">{{data.name}}</h1>

			{% if data.description %}
			<blockquote>{{data.description}}</blockquote>
			{% endif %}

		</div>
	</div>

	<div class="row">
		<div class="col-md-6">


			{% if data.image %}
			<img src="{{data.image}}" class="img-responsive">
			{% endif %}

			{% if data.wikipedia %}
			<h2>Additional information</h2>
			<p><a href="{{data.wikipedia}}">Wikipedia entry</a></p>
			{% endif %}

			{% if schema_data %}
			<h2>Schema data</h2>
			<dl>
			{% for key, value in schema_data.items() %}
			<dt>{{key}}</dt>
			<dd>{{value}}</dd>
			{% endfor %}
			</dl>
			{% endif %}

			{% if obituaries %}
			<h2>Obituaries</h2>
			<ul>
				{% for content in obituaries %}
				<li><a href="{{content.webUrl}}">{{content.webTitle}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

			{% if contributor_content %}
			<h2>For the Guardian</h2>
			<ul>
				{% for content in contributor_content %}
				<li><a href="{{content.webUrl}}">{{content.webTitle}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

			{% if interviews %}
			<h2>Interviews</h2>
			<ul>
				{% for content in interviews %}
				<li><a href="{{content.webUrl}}">{{content.webTitle}}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

		</div>
		<div class="col-md-6">
			<h2 class="sub-heading">Relationships</h2>

			{% if related_nodes %}
			<ul>
			{% for related in related_nodes %}
				<li>{{related.label}} <a href="/{{related.node.path}}">{{related.node.name}}</a></li>
			{% endfor %}
			</ul>
			{% endif %}

			{% if links_here %}
			<h3>Links here</h3>

			<ul>
				{% for link in links_here %}
				<li><a href="{{link.node.path}}">{{link.node.name}}</a> {{link.label|lower}} {{data.name}}</li>
				{% endfor %}
			</ul>
			{% endif %}

			{% if news_content %}
			<h2>In the news</h2>
				<ul>
					{% for content in news_content %}
					<li><a href="{{content.webUrl}}">{{content.webTitle}}</a></li>
					{% endfor %}
				</ul>
			{% endif %}

		</div>
	</div>
</div>

{% endblock %}
