{% extends 'base.html' %}

{% block title %}Simple python app example{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="article-heading">Guardian of Things</h1>

			<blockquote>A database of everything ever</blockquote>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2 class="sub-heading">What is this?</h2>
			<p>A prototype for showing how we could create a metadata structure over the Guardian archive and tag system</p>
		</div>
		<div class="col-md-6">
			<h2 class="sub-heading">Get started</h2>

			<ol>
				{% for category in categories %}
				<li><a href="{{category.properties.path}}">{{category.properties.name}}</a></li>
				{% endfor %}
			</ol>


		</div>
	</div>
</div>

{% endblock %}
